@font-face {
    font-family: Fuente1;
    src: url('./Fonts/ostrichroundedwebfont.woff');
    font-weight: bold;
}

@font-face {
  font-family: Fuente2;
  src:url('./Fonts/SansationLight.woff');
}

@font-face {
  font-family: Fuente3;
  src:url('./Fonts/JustusItalic.woff');
}

header{
  display: flex;
  overflow: hidden;
  background-color: #ccccff;
}

body{
  background-color: #5C8192;
}

img{
  max-width: 100%;
  height: auto;
}

.titulo{
  font-family: Fuente1;
  font-size: 248%;
  text-align: center;
  color: #000066;
}

.logo{
  width: 30%;
  margin-right: 4%;
}

.log-in{
  margin-left: 0.8%;
  text-align:right;
}

.logeado{
  text-align: left;
}

/* Add a black background color to the top navigation */
.topnav {
   font-family: Fuente2;
   clear: both;
   background-color: #333;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    /*font-family: Fuente2;*/
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 10px 6px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}

/* Add an active class to highlight the current page */
.active {
   background-color: #0000cc;
   color: white;
}

@media screen and (max-width: 720px){
  .titulo{
    font-size:200%;
  }
  .logeado{
    font-size:50%;
  }

  .icon a{
    font-size: 10%;
    padding:15%;
  }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav {display: inline;
            font-size: 12px;}
 .topnav a.icon {
   float: right;
   display: block;
 }
 .titulo{
   font-size: 150%;
 }
 .icon{
   display: none;
 }
}


/* Barra de redes sociales*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */

.icon{
  margin-left: 1%;
}

.icon a{
  display: block;
  text-align: center;
  padding: 25%;
  transition: all 0.3s ease;
  color: white;
  font-size: 150%;
}


/* Style the social media icons with color, if you want */
.icon a:hover {
 background-color: #000;
}

.facebook {
 background: #3B5998;
 color: white;
}

.twitter {
 background: #55ACEE;
 color: white;
}

.google {
 background: #dd4b39;
 color: white;
}

.linkedin {
 background: #007bb5;
 color: white;
}

.youtube{
  background: #92457A;
  color:white;
}

footer{
  background-color: #ccccff;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
}

@media (max-width:720px) {
  h2{
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  .logo img{
    margin: auto;
    float: none;
    display: block;
  }

  .titulo{
    font-size: 50%;
  }
}
