@font-face {
    font-family: Fuente1;
    src: url('./Fonts/ostrichroundedwebfont.woff');
    font-weight: bold;
}

@font-face {
  font-family: Fuente2;
  src:url('./Fonts/SansationLight.woff');
}

@font-face {
  font-family: Fuente3;
  src:url('./Fonts/JustusItalic.woff');
}

header{
  display: flex;
  overflow: hidden;
  background-color: #ccccff;
}

body{
  background-color: #5C8192;
}

.logo{
  width=10%
  float:left;
  font-size: 20px;
  font-weight: bold;
}

.titulo{
  font-family: Fuente1;
  width=40%
  float:left;
  font-size: 40px;
  text-align: center;
  color: #000066;
}

/*#foto1{
    position: relative;
    text-align: center;
}

.texto1{
    font-family: Fuente3;
    color: white;
    position: absolute;
    font-size: 25px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#foto2{
  position: relative;
  text-align: center;
}


.texto2{
  font-family: Fuente3;
  color: white;
  position: absolute;
  font-size: 19px;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
}*/


.log-in{
  width=40%;

  text-align:right;
}

/* Add a black background color to the top navigation */
.topnav {
   font-family: Fuente2;
   clear: both;
   background-color: #333;
   overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    /*font-family: Fuente2;*/
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 10px 6px;
   text-decoration: none;
   font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #ddd;
   color: black;
}

/* Add an active class to highlight the current page */
.active {
   background-color: #0000cc;
   color: white;
}

.tabla-body{

}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
   float: right;
   display: block;
 }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
 .topnav.responsive {position: relative;}
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
 }
}

/* Barra de redes sociales*/
/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
 position: fixed;
 top: 50%;
 -webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
 display: block;
 text-align: center;
 padding: 10px;
 transition: all 0.3s ease;
 color: white;
 font-size: 25px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
 background-color: #000;
}

.facebook {
 background: #3B5998;
 color: white;
}

.twitter {
 background: #55ACEE;
 color: white;
}

.google {
 background: #dd4b39;
 color: white;
}

.linkedin {
 background: #007bb5;
 color: white;
}

.youtube{
  background: #92457A;
  color:white;
}

footer{
  background-color: #ccccff;
  position: relative;
  bottom: 0;
  width: 100%;

  height: 50px;
  color: black;
}
