@font-face {
  font-family: Fuente2;
  src:url('./Fonts/SansationLight.woff');
}

iframe{
  width: 45%;
}

.address{
  width: 55%;
  float: left;
  text-align: center;
  font-weight: bold;
  font-family: Fuente2;
  font-size: 20px;
  color: #001433;
}

body{
  background-image: url(back4_opt.jpg);
  background-repeat: no-repeat;
}
